<html>
    <head>
        <h1>Spooky</h1>
    </head>
    <body background= "spooky.gif">

            <embed src="spookyscary.mp3" autostart="true" loop="false"> 

        <style>
        h1 {color: white;}
        h1 {font-family: Helvetica;}
        h1{-webkit-text-stroke-width: 2px;}
        h1{-webkit-text-stroke-color: black;}
        body{background-repeat: no-repeat;}
        body{background-size: 100%;}
        body{color: white;}
        </style>
      </body>

</html>

